---
import Layout from "../../layouts/Layout.astro";
import AppShell from "../../components/AppShell.astro";
import AdventureMap from "./AdventureMap";
import AdventureMapSidebar from "./AdventureMapSidebar";
import data from "./data.json";
---

<Layout>
  <AppShell>
    <div style="position: relative; width: 100%; height: 800px;">
      <div id="map" style="width: 100%; height: 100%;"></div>
      <AdventureMapSidebar data={data} client:load />
    </div>
  </AppShell>
  <AdventureMap data={data} client:only />
</Layout>
